<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the show time! </p>

{{#each movies}}
<img src="{{this.image}}">
<li>{{this.title}}</li>
<a href="/movies/{{this._id}}">see more</a>
<br>
{{/each}}